<eco-top-nav [activeLink]=activeLink></eco-top-nav>
<section class="about-company-section adjust-main-content">
  <div class="container p-1 p-sm-3">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Ecolution is empowering <br> the sustainable society
        </h1>

      </div>
      <div class="col-12 text-center">
        <p>We help you make wise and sustainable choices by providing <br> insights into your carbon footprint. We also
          suggest an <br> to reduce the same by providing you with choices to buy <br>
          and sustainable products
        </p>

      </div>
    </div>
  </div>
  <ngb-carousel>
    <div class="picsum-img-wrapper">
      <img src="./../../../assets/images/aboutus/aboutus.jpg" alt="Random slide">
    </div>
    <div class="carousel-caption">
      <h3>No mouse navigation</h3>
      <p>This carousel hides navigation arrows and indicators.</p>
    </div>
  </ngb-carousel>
  <div class="container text-center">
    <!--h2>Modal Example</h2-->
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">
      Know More
    </button>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">About Ecolution</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <video src="./../../../assets/videos/aboutus/AboutEcolution.mp4" autoplay style="max-width: 100%;"></video>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
<div class="row mt-4 text-center">
  <div class="col-lg-2 mx-auto">
    <img class="rounded-circle" src="./../../../assets/images/teammembers/Garima-Tripathi.jpg"
      alt="Generic placeholder image" width="170" height="170">
    <h3>Garima Tripathi</h3>
  </div>
  <div class="col-lg-2 mx-auto">
    <img class="rounded-circle" src="./../../../assets/images/teammembers/Deep-Shikha.jpg"
      alt="Generic placeholder image" width="170" height="170">
    <h3>Deep Shikha</h3>
  </div>
  <div class="col-lg-2 mx-auto">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      alt="Generic placeholder image" width="170" height="170">
    <h3>Vidya Naik</h3>
  </div>
  <div class="col-lg-2 mx-auto">
    <img class="rounded-circle" src="./../../../assets/images/teammembers/Jeffy-Thomas.png"
      alt="Generic placeholder image" width="170" height="170">
    <h3>Jeffy Thomas</h3>
  </div>
  <div class="col-lg-2 mx-auto">
    <img class="rounded-circle" src="./../../../assets/images/teammembers/Aditya-Nashikkar.png"
      alt="Generic placeholder image" width="170" height="170">
    <h3>Aditya Nashikkar</h3>
  </div>
</div>