<eco-top-nav [activeLink]=activeLink></eco-top-nav>
<div class="jumbotron adjust-main-content">
    <div class="container">
        <h1 class="display-4">{{ infoSectionHeader }}</h1>
        <div class="row">
            <ng-container *ngFor="let ism of infoSectionMain">
                <div class="col-md-6 col-lg-6">
                    <p class="display-5">{{ ism }}</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <div class="col-md-12 col-lg-12 shadow p-4 mb-4 bg-white"
                [class.add-scroll]="selectedQuestionNumber === 3 || selectedQuestionNumber === 2">
                <p class="text-black-50">Question {{ selectedQuestionNumber + 1 }} of {{ userQuestion.length }}</p>
                <h3 class="pb-3">{{ selectedQuestion?.question }}</h3>
                <ng-container *ngFor="let option of selectedQuestion.options">
                    <div class="custom-control custom-radio cursor-pointer" style="padding-bottom: 30px;">
                        <input type="radio" [attr.id]="option?.optionKey" class="custom-control-input cursor-pointer"
                            [value]="option.optionValue" [(ngModel)]="selectedOptions[selectedQuestionNumber]"
                            name="{{selectedQuestion.radioButtonName}}" ngModel>
                        <label class="custom-control-label cursor-pointer" [attr.for]="option?.optionKey">
                            {{ option.optionKey }}
                        </label>
                    </div>
                </ng-container>
            </div>
            <ul class="pagination float-right">
                <li class="page-item"><a class="page-link cursor-pointer" *ngIf="selectedQuestionNumber > 0"
                        (click)="getQuestionByNumber('previous')">Previous</a></li>
                <li class="page-item"><a class="page-link cursor-pointer" *ngIf="selectedQuestionNumber < 3"
                        (click)="getQuestionByNumber('next')">Next</a></li>
            </ul>
            <button *ngIf="selectedQuestionNumber === 3" type="submit" class="btn btn-success btn-lg btn-block"
                (click)="submitForm()">Submit</button>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="col-md-12 col-lg-12 shadow p-4 mb-4 bg-white">
                <img class="img-fluid" [src]="selectedQuestion.factImage" alt="Chania" width="460" height="345">
                <h6 class="mt-2 p-2 pb- 0 text-bolder">{{ selectedQuestion?.fact?.factHeader }}</h6>
                <p class="p-2 mt-0">{{ selectedQuestion?.fact?.factMainContent }}</p>
            </div>
        </div>
    </div>
</div>

<button type="button" id="modal-trigger" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
    style="display: none;">
    Open modal
</button>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Carbon footprint comparison You/ Your city</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="thumbnail text-center">
                            <img src="./../../../assets/images/take-action/take-action.png" alt=""
                                class="img-responsive" style="max-width: 100%;">
                            <div class="caption">
                                <h3 class="font-weight-bold">Your plastic footprint is</h3>
                                <p><span style="font-size: 28px;">6.4 kg</span>/ per year</p>
                                <p>That's <u>above averge</u> in your city</p>
                                <p>Unfortunately plastic is embedded in almost every aspect of our lives, with
                                    alternatives often difficult to find. But there are ways to make a difference.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div id="barChart" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>