<nav class="navbar navbar-expand-sm navbar-dark bg-success flex-nowrap">
    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbar5">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand w-100">{{ logoName }}</span>
    <div class="navbar-collapse collapse w-100 justify-content-center" id="navbar5">
        <ul class="navbar-nav mx-auto" *ngFor="let link of links">
            <li class="nav-item">
                <a class="nav-link cursor-pointer" [class.active-link]="activeLink === link.linkValue"
                    (click)="routeToPage(link.routeTo)">{{ link?.linkName
                    }}</a>
            </li>
        </ul>
    </div>
    <div class="w-100">
        <!--spacer-->
    </div>
</nav>