<div class="card col-md-12 col-lg-12 cursor-pointer">
    <img class="card-img-top" [attr.src]="imagePath" alt="Card image">
    <div class="card-body p-0 pt-2 pb-2 text-center">
        <h4 class="card-title text-primary">{{ productName }}</h4>
        <div class="card-text text-left">
            <p class="mb-0 font-weight-bold">&#8377; {{ price }}</p>
            <p class="mb-0">{{ sellerName }}</p>
            <p class="mb-1 text-muted">Free delivery</p>
        </div>
        <a href="#" class="btn btn-primary">Shop now</a>
    </div>
</div>