<div class="card col-md-12 col-lg-12 cursor-pointer">
    <img class="card-img-top" [attr.src]="imagePath" alt="Card image" style="max-height: 200px; max-width: 110px;">
    <div class="card-body p-0 pt-2 pb-2 text-center">
        <h4 class="card-title text-primary">{{ productName }}</h4>
        <div class="card-text text-left">
            <p class="mb-0 font-weight-bold">&#8377; {{ price }}</p>
            <p class="mb-0">{{ sellerName }}</p>
            <p class="mb-1 text-muted">Free delivery</p>
        </div>
        <a href="https://www.vmartretail.com/nirlon-steel-fridge-bottle-143677225.html?gclid=CjwKCAjwiLGGBhAqEiwAgq3q_k2t6NzDLCVLmPIi7zg6BFPTZKvx2X1aO40jpc43h_tzoDhBDXICzBoCEw0QAvD_BwE" target="_blank"
            class="btn btn-primary">Shop now</a>
    </div>
</div>